<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <style>
        #particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  {#background-image: url("");#}
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
    </style>
</head>
<body>
<div id="particles-js">

          </div>
</body>
    <script src="{% static 'js/particles.min.js' %}"></script>
    <script src="{% static 'js/particles.js' %}">
</script>


</html>